.btnList {
  display: flex;
}

.button {
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
}

.button:active {
  color: #ffffff;
  background-color: #1225ee;
}
